

ErrorDocument 404 /404.html

<FilesMatch "\.css$">
  ExpiresActive On
  ExpiresDefault A1
  Header append Cache-Control must-revalidate
</FilesMatch>
<FilesMatch "\.js$">
  ExpiresActive On
  ExpiresDefault A1
  Header append Cache-Control must-revalidate
</FilesMatch>
<FilesMatch "\.(htm|html)$">
  ExpiresActive On
  ExpiresDefault A1
  Header append Cache-Control must-revalidate
</FilesMatch>

<IfModule mod_expires.c>
  ExpiresActive On


  ExpiresByType text/css "access plus 1 minute"
  ExpiresByType text/plain "access plus 1 minute"

  # Images
  ExpiresByType image/jpeg "access plus 1 day"
  ExpiresByType image/jpg "access plus 1 day"
  ExpiresByType image/gif "access plus 1 day"
  ExpiresByType image/png "access plus 1 day"
  ExpiresByType image/webp "access plus 1 day"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 day"

  # Video
  ExpiresByType video/mp4 "access plus 1 day"
  ExpiresByType video/mpeg "access plus 1 day"




  # Others
  ExpiresByType application/pdf "access plus 1 month"
</IfModule>
